body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mags {
  font-family: 'Times New Roman', serif;
  font-size: 17px;
  font-weight: 200;
  margin-top: 11px;
  margin-left: 10px;
  width: 400px; /* Set the desired width */
  padding: 0px; /* Add padding inside the box */
  border: none; /* Add a border around the box */
  line-height: 1.4; /* Adjust line spacing */
  color: black;
  text-align: left;
}

#mags > div {
  margin-bottom: 16px; /* Adds spacing between each div */
}

#mags .email {
  text-decoration: underline; /* Underlines the email */
  text-decoration-thickness: 0.25px; /* Thin underline */
  text-underline-offset: 4px; /* Adds spacing between underline and text */
}
#mags .italic {
  font-style: italic; /* Makes text italic */
}

#mags span {
  display: inline-block; /* Ensures each character can be animated independently */
  transition: transform 0.2s ease; /* Smooth hover animation */
}

#mags a {
  color: black; /* Sets the color of the link */
}

#mags span.non-interactive {
  pointer-events: none; /* Prevents these from interacting with the mouse */
}
