@import 'tailwindcss';
@font-face {
    font-family: 'Soehne';
    src: url('../fonts/test-soehne-mono-leicht.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --color-email-grey: #676767;
}